body {
    height: calc(100vh - 10px);
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: stretch;
    background: linear-gradient(-45deg, #000, #333333, #cccccc, #fff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

header {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

nav {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem 2rem;
}

main {
    overflow-y: auto;
    flex: 1 1 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: stretch;
    padding: 2rem 6rem;
}

nav textarea {
    flex: 1 1 95%;
    height: 5vh;
}

nav button {
    flex: 1 1 auto;
}

button {
    background-color: transparent;
    border: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* https://codepen.io/Jackthomsonn/pen/jWyGvX?editors=1100 */