<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="temp.css">
	<title>Temp</title>
</head>

<body>
	<div class="chatbox ng-scope" ng-controller="MessageCtrl as chatMessage">
		<div class="chatbox__user-list">
			<h1>User list</h1>
			<div class="chatbox__user--active">
				<p>Jack Thomson</p>
			</div>
			<div class="chatbox__user--busy">
				<p>Angelina Jolie</p>
			</div>
			<div class="chatbox__user--active">
				<p>George Clooney</p>
			</div>
			<div class="chatbox__user--active">
				<p>Seth Rogen</p>
			</div>
			<div class="chatbox__user--away">
				<p>John Lydon</p>
			</div>
		</div>
		<!-- ngRepeat: message in messages -->
		<div class="chatbox__messages ng-scope" ng-repeat="message in messages">
			<div class="chatbox__messages__user-message">
				<div class="chatbox__messages__user-message--ind-message">
					<p class="name ng-binding">George Clooney</p>
					<br>
					<p class="message ng-binding">The only failure is not to try</p>
				</div>
			</div>
		</div>
		<!-- end ngRepeat: message in messages -->
		<div class="chatbox__messages ng-scope" ng-repeat="message in messages">
			<div class="chatbox__messages__user-message">
				<div class="chatbox__messages__user-message--ind-message">
					<p class="name ng-binding">Seth Rogen</p>
					<br>
					<p class="message ng-binding">I grew up in Vancouver, man. That's where more than half of my style comes from.
					</p>
				</div>
			</div>
		</div>
		<!-- end ngRepeat: message in messages -->
		<div class="chatbox__messages ng-scope" ng-repeat="message in messages">
			<div class="chatbox__messages__user-message">
				<div class="chatbox__messages__user-message--ind-message">
					<p class="name ng-binding">John Lydon</p>
					<br>
					<p class="message ng-binding">There's nothing glorious in dying. Anyone can do it.</p>
				</div>
			</div>
		</div>
		<!-- end ngRepeat: message in messages -->
		<form class="ng-pristine ng-valid">
			<input type="text" placeholder="Enter your message">
		</form>
	</div>
</body>

</html>